<h1>Home#index</h1>
<h2>Hello Shelfari</h2>
<p>Find me in app/views/home/index.html.erb</p>
<% form_tag books_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :title => nil, :author => nil %>
  </p>
<% end %>
<%= link_to "Bookshelf", books_path %>